@model IEnumerable<Retreat_Management_System.web.Data.Retreat>

@{
    ViewData["Title"] = "Retreats List";
}

<h1>Retreats List</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Create New Retreat</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Retreat Name</th>
            <th>Description</th>
            <th>Location</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Price</th>
            <th>Capacity</th>
            <th>Contact Info</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var retreat in Model)
        {
            <tr>
                <td>@retreat.RetreatName</td>
                <td>@retreat.Description</td>
                <td>@retreat.Location</td>
                <td>@retreat.StartDate.ToShortDateString()</td>
                <td>@retreat.EndDate.ToShortDateString()</td>
                <td>@retreat.Price</td>
                <td>@retreat.Capacity</td>
                <td>@retreat.ContactInfo</td>
                <td>
                    <div class="d-flex align-items-center">
                        <a asp-action="Edit" asp-route-id="@retreat.RetreatID" class="btn btn-primary btn-sm mr-2">Edit</a>
                        <a asp-action="Details" asp-route-id="@retreat.RetreatID" class="btn btn-info btn-sm mr-2">Details</a>
                        <a asp-action="Delete" asp-route-id="@retreat.RetreatID" class="btn btn-danger btn-sm"
                           onclick="return confirm('Are you sure you want to delete @retreat.RetreatName?')">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>